:root {
  --green-lighter: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);
  --karla-front: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

body {
  font-family: var(--karla-front);
  font-size: 16px;
  background: var(--green-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  color: var(--grey-darker);
  font-size: 0.9rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--grey-medium);
  border-radius: 5px;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--green-medium);
}
.required-input {
  color: var(--green-medium);
}
.error {
  color: var(--red);
  font-size: 0.8rem;
  margin-top: -0.4rem;
  display: none;
}

.error.active {
  display: block;
}

.consent-error{
  color: var(--red);
  font-size: 0.8rem;
  margin-top: -0.4rem;
  display: none;
}

.consent-error.active {
  display: block;
}

section {
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 480px;
}

section h1 {
  margin-bottom: 1rem;
}
.contact-form .form-item {
  margin-bottom: 0.8rem;
}
.form-item:nth-child(1) {
  display: flex;
  gap: 1rem;
}

.form-item:nth-child(3) .radio-group {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.form-item:nth-child(3) .radio-group .radio-option {
  cursor: pointer;
  width: 100%;
  padding: 0.8rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  outline: 1px solid var(--grey-medium);
  border-radius: 0.4rem;
}
.form-item:nth-child(3) .radio-group .radio-option.active {
  background: var(--green-lighter);
  outline: 1px solid var(--green-medium);
}
.form-item:nth-child(3) input[type="radio"] {
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  outline: 2px solid var(--grey-medium);
  outline-offset: 3px;
  border-radius: 50%;
}
.form-item:nth-child(3) input[type="radio"]:checked {
  background: var(--green-medium);
  outline: 2px solid var(--green-medium);
}
.form-item:nth-child(3) .radio-group .radio-option label {
  width: 100%;
  cursor: pointer;
}

.form-item:nth-child(5) {
  margin-bottom: 0.8rem;
}
.form-item:nth-child(5) div {
  display: flex;
  gap: 0.8rem;
}
.form-item:nth-child(5) input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--green-medium);
}
.form-item:nth-child(5) label {
  cursor: pointer;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background: var(--green-medium);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-button:hover {
  background: hsl(169, 82%, 20%);
}

.success-message {
  position: fixed;
  background: var(--grey-darker);
  color: var(--green-lighter);
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  top: 4%;
  left: 24%;
  transform: translateY(-32%);
  border-radius: 0.4rem;
}
.success-message.active {
  display: block;
  pointer-events: all;

  animation: show-message 3s forwards;
}
@keyframes show-message {
  0%,
  25%,
  50%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.success-message .message-header {
  color: var(--white);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
  section {
    width: 96%;
    margin: auto;
  }
  .form-item:nth-child(1) {
    flex-direction: column;
    gap: 0.8rem;
  }

  .form-item:nth-child(3) .radio-group {
    flex-direction: column;
    gap: 0.8rem;
  }
}
